<table>
    <colgroup>
        <col>
        <col>
        <col>
    </colgroup>
    <thead>
        <tr>
            <th>S1</th>
            <th>S2</th>
            <th>S3</th>
        </tr>
    </thead>
    <tbody>
        <template ngFor let-match [ngForOf]="matches">
            <tr>
                <td colspan="3">{{ match.player1.name }} vs. {{ match.player2.name }}</td>
            <tr>
            <tr>
                <td>
                    <input type="number" [(ngModel)]="match.player1Sets[0]"> / 
                    <input type="number" [(ngModel)]="match.player2Sets[0]">
                </td>
                <td>
                    <input type="number" [(ngModel)]="match.player1Sets[1]"> / 
                    <input type="number" [(ngModel)]="match.player2Sets[1]">
                </td>
                <td>
                    <input type="number" [(ngModel)]="match.player1Sets[2]"> /
                    <input type="number" [(ngModel)]="match.player2Sets[2]">
                </td>
            </tr>
        </template>
    </tbody>
</table>
<hr>
<div>
    <button type="button" (click)="calculateWinner()">Calculate winner</button> &nbsp; <button type="button" (click)="startOver()">Start over</button>
</div>


